html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

body {

}

/* HEADER Section */

.header {
  position: absolute;
  width: 960px;
  top: 1rem;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  color: White;
  background-color: Cadetblue;
  padding: 1rem 1rem 1rem 2rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  height: 1.5rem;
  padding-right: 1rem;
}

.header-right a {
  padding: 1rem;
  text-decoration: none;
  color: White;
}

/* BANNER Section */

.banner {
  /*display: flex;*/

}

.banner img {
  height: 30rem;
  width: 100%;
  /*background-size: cover;*/
}

.banner.white-box {
  top: 14rem;
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: Black;
  background-color: White;
  padding: 1.5rem 5rem;
  border: 1px solid black;
}
